body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffeeff;
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 0;
    padding: 20px;
    font-family: 'Verdana', sans-serif;
    font-size: 2.5em;
    background-color: #3399ff;
    color: #ffffff;
}
h2 {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #ff6699;
}
.wrapper{
    
}
form {
    max-width: 500px;
    
    margin: 50px auto;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: ;
        transform: translateY(-80px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    width: 200px;
    color: #3399cc;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ff99cc;
    border-radius: 6px;
    font-family: 'Arial', sans-serif;
}

textarea {
    resize: vertical;
}

.form-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-container {
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

button {
    background-color: #3399ff;
    color: #ffffff;
    width: 200px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 6px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #ff6699;
    color: #fff;
    transition: ease-in-out 0.5s;
}
