body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: rgb(50, 50, 50); 

}
Body h1{
  text-align: center;
  margin-top: 0px;
  padding: 0px;
  /* width: 100%; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
  /* background-color: aliceblue; */
}

.header{
  margin-top: -40Px;
  /* width: 100%; */
  height: 40px;
  padding-top: 5px;
}
.outerheader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c8f7ff;
  padding-top: 20px;
  padding-bottom: -20px;
}
.icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.i{
  margin-left: 30px;
  margin-right: 10px;
  margin-top: -30px;
  width: 60px;
  height: 60px;
  /* background-color: #d62727; */
  align-items: center;
  background-image: url(icon.jpeg);
  background-position: center;
  background-size: cover;
}
.content{
  margin: 0px;
  padding: 0px;
  height: 680px;
  background-image: url(Hospital.jpg);
  background-position: center;
  opacity: initial;
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  background-color: #c8f7ff;
  margin: 0px;
  width: 100%;
  color: #fff;
  text-align: center;
  /* padding: 10px; */
  padding-top: 10px;
  padding-bottom: 10px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
  margin-right: 30px;
  color: #ffffff;
}

nav a {
  padding: 5px;
  text-decoration: none;
  color: #555555;
  font-size: 20px;
}

/* nav a:hover {
  color: rgb(0, 179, 255);
  font-size: 25px;
  transition: 0.5s;
} */
.header  ul li a.active,
.header  ul li a:hover{
  padding: 5px;
background: rgba(0, 229, 255, 0.574);
  color: #fff;

border-radius: 2px;
  font-size: 20px;
  transition: ease-out 0.5s;
}
.note{
  padding-top: 10px;
  color: #121212;
  text-align: center;
}


.mainwrap{
  display: flex;
  justify-content: space-evenly;
}
.wrapp{
  width: 1000px;
  background-color: rgb(50, 50, 50); 
  background-image: url(dr1.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper{
  max-width: 700px;
  width: 100%;
  background-color: rgb(50, 50, 50); 
  margin: 20px auto;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
  padding: 30px;
}

.wrapper .title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.wrapper .form{
  width: 100%;
}

.wrapper .form .inputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .form .inputfield label{
   width: 200px;
   color: #ffffff;
   margin-right: 10px;
  font-size: 14px;
}

.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper .form .inputfield .textarea{
  width: 100%;
  height: 125px;
  resize: none;
}

.wrapper .form .inputfield .custom_select{
  position: relative;
  width: 100%;
  height: 37px;
}

.wrapper .form .inputfield .custom_select:before{
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.wrapper .form .inputfield .custom_select select{
  -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}

.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .textarea:focus,
.wrapper .form .inputfield .custom_select select:focus{
  border: 1px solid #1b8d9c;
}

.wrapper .form .inputfield p{
   font-size: 14px;
   color: #757575;
}
.wrapper .form .inputfield .check{
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}
.wrapper .form .inputfield .check input[type="checkbox"]{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.wrapper .form .inputfield .check .checkmark{
  width: 15px;
  height: 15px;
  border: 1px solid #1b8d9c;
  display: block;
  position: relative;
}
.wrapper .form .inputfield .check .checkmark:before{
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 5px;
  height: 2px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
  display: none;
}

.wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark{
  background: #fec107;
}

.wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark:before{
  display: block;
}

.wrapper .form .inputfield .btn{
  width: 100%;
   padding: 10px 10px;
  font-size: 15px;
  font-weight: 600;
  border: 0px;
  background:  #1b8d9c;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.btn{
  margin-top: 10px;
  align-items: center;
  background: #2b7b94;
}

.btn:hover{
  background-color: #3542ff;
  transition: ease-in-out 0.5s;
}

.wrapper .form .inputfield:last-child{
  margin-bottom: 0;
}

@media (max-width:420px) {
  .wrapper .form .inputfield{
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper .form .inputfield label{
    margin-bottom: 5px;
  }
  .wrapper .form .inputfield.terms{
    flex-direction: row;
  }
}

